.menu{
    background-color: #D5B0AC;
    font-weight: bold;
    color: #402E2A;
    text-align: center;
    padding: 15px 50px 15px 50px;
}
.i1, .i2{
    padding: 15px 50px 15px 50px;
}

.i2:hover{
    background-color: #9CD08F;
    color: #FFFFFF
}
.menu_vertical{
    width: 150px;
    text-align: left;
    padding:10px 5px 10px;
}


.menu_vertical .i1, .menu_vertical .i2{
    display: block;
    width: 50px;
    margin: 5px 10px 5px 10px;
    border-bottom: white solid 2px;
    text-align: center;
}